<%inherit file="/base.html"/>
<%block name="content">
    <style type="text/css">
        #footer{
            position: relative;
            bottom: -40px;
        }
    </style>
    <div class="col-sm-6">
        <div class="king-block king-block-bordered">
            <div class="king-block-content clearfix">
                <div class="plugin3_demo" id="plugin3_demo3" style="display:inline-block;">
                    <tx>
                        <td>业务</td>
　                    　<td>
                           <select id="businessSelect">
　                     　　　 <option>选择A</option>
　　　　                      <option>选择B</option>
　　　　                      <option>选择C</option>
　　                      </select>
                        </td>
                    </tx>
                    <tx>
                       <div class="page-contactus">
                            <input type="button" id="check" name="check" value="参数"></input>
                            <a href="${SITE_URL}contactus" target="_blank">点击下载</a>
                       </div>
                    </tx>
                </div>
            </div>
        </div>
    </div>

</%block>
<%block name='footerline'>
    <hr class="guide-cutting-line">
</%block>
<script>
    $("#check").click(
    function(){
    $.ajax({
      url:"/getHosts/",
      type:'post',
      data:['name','12122'],
      success:function(res){
        console.log(res)
        alert(res);
      }
    })
    }
    )
  init: function(){
     $.ajax({
        type : "POST",
　　　　url : "/getBusiness/",
　　　　dataType : "JSON",
　　　　data : {},
　　    success : function(msg)
　　    {
          $("#businessSelect").prepend("<option value='0'>请选择</option>");//添加第一个option值
　　　　  for (var i = 0; i < msg.rows.length; i++) {
　　　　     $("#businessSelect").append("<option>"+msg.rows[i]+"</option>");
　　      }

　　    },error:function(){
　　        alertLayer("获取数据失败","error");
　　    }
    }
    );
  }


</script>